---
import Base from "../layouts/Base.astro";
import Hero from "./sections/hero.astro"
import Kontakt from "./sections/kontakt.astro";
import Impressum from "./sections/impressum.astro";
import Datenschutz from "./sections/datenschutz.astro";
---
<Base>
    <fragment slot="head">
        <title>Secbau – Bau & Grünpflege aus einer Hand</title>
        <meta name="description" content="Bagger- & Bauarbeiten; Grünpflege & Landschaftsbau"/>
    </fragment>
    <Hero/>
    <Kontakt/>
    <Impressum/>
    <Datenschutz/>
</Base>
